<div class="card-product">
  <img src="https://images.unsplash.com/photo-1472207241423-9e30d66d4b0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
  <div class="card-product-infos">
    <h2><%= flat.name %></h2>
    <p><%= flat.description %></p>
    <p> Price Per Night: <%= flat.price_per_night %></p>
     <p> Number of Guests: <%= flat.number_of_guests %></p>
       <%= link_to "Details", flat_path(flat) %>
        <%= link_to "Edit", edit_flat_path(flat), style: 'color:#FFA500' %>
        <%= link_to "Delete", flat_path(flat), style: 'color: #FF0000', method: :delete %>
  </div>
</div>


