<h1><%= @flat.name %></h1>

<p> <%= @flat.description%></p>
<p> Price Per Night: <%= @flat.price_per_night %></p>
<p> Number of Guests: <%= @flat.number_of_guests %> </p>

<h2>Reviews </h2>
<ul>
   <% @flat.reviews.each do |review| %>
     <li> Review: <%= review.content %></li>
      <li> Rating: <%= review.rating %></li>
    <% end %>
</ul>

<%= link_to "Edit Flat", edit_flat_path %>
<%= link_to "Add review", new_flat_review_path(@flat) %>
<%= link_to "Back", flats_path %>
